@import "tailwindcss";
@import "react-day-picker/style.css";

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebBold.eot');
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebBold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/IRANYekan/woff/IRANYekanWebBold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/IRANYekan/woff2/IRANYekanWebBold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/IRANYekan/ttf/IRANYekanWebBold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebThin.eot');
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebThin.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/IRANYekan/woff/IRANYekanWebThin.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/IRANYekan/woff2/IRANYekanWebThin.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/IRANYekan/ttf/IRANYekanWebThin.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebLight.eot');
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/IRANYekan/woff/IRANYekanWebLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/IRANYekan/woff2/IRANYekanWebLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/IRANYekan/ttf/IRANYekanWebLight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebRegular.eot');
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebRegular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/IRANYekan/woff/IRANYekanWebRegular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/IRANYekan/woff2/IRANYekanWebRegular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/IRANYekan/ttf/IRANYekanWebRegular.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebMedium.eot');
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebMedium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/IRANYekan/woff/IRANYekanWebMedium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/IRANYekan/woff2/IRANYekanWebMedium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/IRANYekan/ttf/IRANYekanWebMedium.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebExtraBold.eot');
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/IRANYekan/woff/IRANYekanWebExtraBold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/IRANYekan/woff2/IRANYekanWebExtraBold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/IRANYekan/ttf/IRANYekanWebExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 850;
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebBlack.eot');
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebBlack.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/IRANYekan/woff/IRANYekanWebBlack.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/IRANYekan/woff2/IRANYekanWebBlack.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/IRANYekan/ttf/IRANYekanWebBlack.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebExtraBlack.eot');
    src: url('../assets/fonts/IRANYekan/eot/IRANYekanWebExtraBlack.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../assets/fonts/IRANYekan/woff/IRANYekanWebExtraBlack.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../assets/fonts/IRANYekan/woff2/IRANYekanWebExtraBlack.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../assets/fonts/IRANYekan/ttf/IRANYekanWebExtraBlack.ttf') format('truetype');
}

* {
    font-family: iranyekan, 'Poppins', sans-serif !important;
}


@layer base {

    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

}

.p-5 {
    padding: 1.25rem !important;
}

.rdp-month_caption {
    display: flex;
    justify-content: center !important;
    align-content: center;
    height: var(--rdp-nav-height);
    font-weight: bold;
    font-size: large;
}

.rdp-weekdays {
    display: flex;
}

.rdp-weekday {
    opacity: var(--rdp-week_number-opacity);
    font-weight: 400;
    font-size: small;
    height: var(--rdp-week_number-height);
    width: var(--rdp-week_number-width);
    border: var(--rdp-week_number-border);
    border-radius: var(--rdp-week_number-border-radius);
    text-align: var(--rdp-weeknumber-text-align);
}

.rdp-week {
    display: flex;
    width: 100%;
    margin-top: .5rem;
    justify-content: space-between;
}